# Compiled
*.elc

# Packaging
.cask

# Backup files
*~

# Undo-tree save-files
*.~undo-tree

history
straight
eln-cache
projectile-bookmarks.eld
local_customized.el
elpa/
smex-items
.lsp-session-v1
.python-environments
tramp
var
recentf
transient/
.cache/
\#*

undo-fu-session/
config.el
tree-sitter/
projects
nohup.out
